/* You'll probably want to add some styles here */
#map-container {
    width: 70%;
    float: left;
}

#map-loading, #data-loading {
    text-align: center;
}

#data-panel {
    width: 30%;
    float: left;
}

#data-options {
    display: none;
}

/* Hide data view rows */
#row-generic {
    display: initial;
}
#row-deaths {
    display: none;
}

#row-armed {
    display: none;
}

#row-gender {
    display: none;
}

.centerText {
    text-align: center;
    display: block;
}

td {
    width: 50%;
}

tr.view-table td{
    width: 25%;
}

#filterTable td {
    width: 25%;
}

#data-info {
    display: none;
}

h3 {
    margin-top: 5px;
    z-index: 1900;
}

table {
    width: 100%;
    font-size: .9em;

}

#info-summary {
    overflow: auto;
    max-height: 50px;
}
#about{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

#data-view, #data-info  {
    margin-bottom: 0px;
}