/* You'll probably want to add some styles here */
#map-container {
    width: 70%;
    float: left;
}

#map-options {
    width: 30%;
    float: left;
    text-align: center;
}

#loading {
    text-align: center;
}