/* You'll probably want to add some styles here */
#map-container {
    width: 70%;
    float: left;
}

#map-loading {
    text-align: center;
}

#data-panel {
    width: 30%;
    float: left;
}

#data-loading {
    text-align: center;
}

#data-options {
    display: none;
}

/* Hide data view rows */
#row-generic {
    display: initial;
}
#row-deaths {
    display: none;
}

#row-armed {
    display: none;
}

#row-gender {
    display: none;
}

#test {
    text-align: center;
    display: block;
}

td {
    width: 50%;
}

#data-info {
    display: none;
}